/* -- Colors -- */
$bg-color-dark: #283149;
$bg-color-light: #404b69;
$bg-color-med: #283149a1;
$bg-color-hover: #2f3957;
$box-shadow: 5px 5px 15px rgb(49, 49, 49);
$text-light: #dbedf3;

/* -- Sizing -- */
$card-width-lg: 80vw;
$card-width-sm: 40vw;

/* -- Mixins -- */

@mixin custom-scroll-bar($bg, $bar) {
  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: 8px;
    background-color: $bar;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $bar;
    border-radius: 3px;
  }

  &::-webkit-scrollbar-track {
    background-color: $bg;
  }
}

@mixin flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin flex-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}
