// @use '../Styles/global';
@use '../Styles/vars';

@mixin link-hover {
  &:hover {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 2px;
  }
}

#active-seq {
  border: vars.$text-light solid 1px;
  border-radius: 2px;

  display: flex;
  justify-content: space-around;
  align-self: center;

  padding: 10px 5px;
  width: 40%;

  a {
    padding: 5px;
    @include link-hover();
  }
}

// if user hasn't selected a sequence
// can't go to drag and drop page
.disabled-link {
  cursor: not-allowed;
  opacity: 0.5;
}

header {
  background-color: vars.$bg-color-dark;
  font-weight: bolder;
  height: 100%;
}

#logoContainer {
  margin-right: 5px;

  image {
    margin-left: 10px;
  }
}

nav {
  @include vars.flex-row;
  box-shadow: vars.$box-shadow;
}

#nav-items-container {
  display: flex;
  justify-content: flex-end;

  a {
    margin: 15px 10px;
    margin-right: 10px;
    padding: 2px 5px;

    text-align: center;
    text-transform: uppercase;
    text-decoration: none;

    @include link-hover();
  }
}
