* {
	list-style-type: none;
}

.name {
	color: #dbedf3;
	text-align: center;
}

.profileContainer {
	border: 1px solid #dbedf3;
	color: #dbedf3;

	margin: 30px;
	padding: 20px;
	border-radius: 5px;

	display: flex;
	flex-direction: column;
	align-items: center;
}

.ul {
	width: 100%;
	padding: 10px;
	/* margin: 2px; */
	border: 1px solid #dbedf3;
}

.p {
	margin: 20px;
	border: 1px solid #dbedf3;
	padding: 20px;
}
