.navbarHeader {
  /* font-family: 'Courier New', Courier, monospace; */
  font-weight: bolder;
  background-color: #283149;
  height: 50px;
}

.navbarNav {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
}

.navItem {
  color: #dbedf3;
  margin: 15px 15px;
  padding: 2px 5px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

.navItem:hover {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 2px;
}

.activeSeq {
  border: #dbedf3 solid 1px;
  border-radius: 2px;

  padding: 10px 5px;
  width: 40%;
  display: flex;
  justify-content: space-around;
  color: #dbedf3;
  align-self: center;
}

.activeSeq a {
  color: #dbedf3;
  padding: 5px;
}

.activeSeq a:hover {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 2px;
}
