.searchContainer {
	color: #dbedf3;
	margin: 30px;
	border: 1px solid #dbedf3;
	padding: 20px;
	border-radius: 5px;
}
.header {
	text-align: center;
}

.input {
	width: 100%;
	padding: 15px 10px;
	margin: 8px 0;
	box-sizing: border-box;
	border: none;
	color: #dbedf3;
	background-color: #283149a1;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	/* border-bottom: 2px solid #dbedf369; */
}

::placeholder {
	color: #dbedf394;
}

.btnContainer {
	margin: 20px;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.searchBtn {
	font-size: 15px;
	color: #dbedf3;
	background-color: #283149;
	padding: 15px 32px;
	border-radius: 5px;
	border: none;
}

.searchBtn:hover {
	background-color: #2f3957;
	/* border-top: 0.25px solid #dbedf3;
  border-right: 0.25px solid #dbedf3;
  border-bottom: 2px solid #283149;
  border-left: 2px solid #283149; */
}

.searchBtn:focus {
	/* border-top: 0.25px solid #dbedf3;
  border-right: 0.25px solid #dbedf3;
  border-bottom: 2px solid #283149;
  border-left: 2px solid #283149; */
}

.input:focus {
	outline: none;
	border-bottom: 2px solid #dbedf3;
}

.resultContainer {
	color: #dbedf3;
	margin: 30px;
	border: 1px solid #dbedf3;
	padding: 20px;
	border-radius: 5px;
}
