.browserBox {
	display: flex;
	justify-content: center;
	margin-top: 30px;
}

.browseContainer {
	color: #dbedf3;
	margin: 30px;
	border: 1px solid #dbedf3;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 5px 5px 15px rgb(49, 49, 49);
	width: 50vw;
	height: 60vh;
	overflow-y: scroll;
}

.browseContainer a {
	color: #dbedf3;
}

.browseContainer a:hover {
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 2px;
}

.browseItem {
	margin: 10px 15px;
	display: flex;
	flex-flow: column no-wrap;
}

.browseBtns {
	display: flex;
	flex-flow: row nowrap;
}

.browseBtn {
	font-size: 15px;
	padding: 15px 32px;
	border-radius: 5px;
	margin: 2px;
	border: none;
}

.deleteBtn {
	color: #dbedf3;
	background-color: #283149;
}

.deleteBtn:hover {
	background-color: #2f3957;
}

.selectBtn {
	color: #2f3957;
	background-color: #dbedf3;
}

.selectBtn:hover {
	color: #2f3957;
	background-color: #dbedf37e;
}
